a = 1
b = 4
n = 1
summa = 0
while n >= a and n <= b:
    print('N Равно: ', n)
    n += 1
    summa = summa + n
print('Сумма Равна: ', summa - b)
#В резултате совместной работы был создан код для нахождения суммы всех n-значных чисел, кратных к (1 <= п <= 4).

'''
Вывод:
N Равно:  1
N Равно:  2
N Равно:  3
N Равно:  4
Summa Равна:  10
'''
